@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900|Source+Sans+Pro:400,200,300,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Serif+Pro:400,600,700);
.code-font{
font-family: 'Source Code Pro', monospace;
}
.sans-font {
font-family: 'Source Sans Pro', sans-serif;
}
.serif-font{
font-family: 'Source Serif Pro', serif;
}